/*
* Custom Styles
*/
@import "variables";
@import "@material/fab/mdc-fab";

body {
  font-family: $fontFamily;
}
.text-center {
  text-align: center;
}

.mb {
  margin-bottom: 20px;
}

.toggler {
  padding: 10px 20px;
  border: none;
  background-color: purple;
  color: white;
  outline: none;
}
